.plan-container {
  width: 100%;
  height: 100vh; /* Yüksekliği ekran yüksekliği kadar ayarlar */
  overflow: hidden; /* Taşmayı gizler */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Arka plan rengi */
  margin-bottom: 50px; /* Alt boşluk */
}

.plan-image-container {
  position: relative;
  width: 80%; /* Genişliği %80 */
  height: auto;
  transition: transform 1s ease-in-out; /* Animasyon */
}

.plan-container:hover .plan-image-container {
  transform: scale(1.1); /* Resmi büyüt */
}

.plan-image {
  width: 100%;
  height: auto;
  display: block;
}

.plan-image-container h2 {
  color: #ff6600; /* Turuncu renk */
  background-color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
